https://maps.googleapis.com/maps/api/place/autocomplete/json?input=Моск&types=["administrative_area_level_1"]&language=ru&key=AIzaSyDWit8053nlIQr1154tNnjJ1wvA1a3kbLg
<html>
<head>
</head>
<body>
</body>
</html>
